
.description{ 
    min-height: 90vh;
}
/* display: flex.*/
.head{
    display: flex;
}
/* display: blok.*/
.mdiv{
    display: none;
    width: 100%; 
    background-color: gainsboro; 
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green; 
  }